# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Robert Freiseisen\HTBLA Leonding\4BHIF\NVS\30-rest-collection-person-quarkus-v2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
